@charset "UTF-8";
* {
  box-sizing: border-box; }

/*h1{ font-size: 3.5em;} 
h2{ font-size: 2.5em;}
h3{ font-size: 2.2em;}
h4{ font-size: 1.5em;}
p{ font-size: 1.2em;}
ul{ list-style: none;}*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

/*INDEX*/
.container {
  max-width: 1300px;
  margin: auto; }

.indexheader {
  background-color: whitesmoke;
  height: 80px;
  margin: 0;
  padding: 0px 20px; }

.img-header {
  display: flex;
  height: 80px;
  font-size: 9px;
  padding: 10px 10px; }

.container-index {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 0px 0px;
  flex-direction: column;
  font-size: 10px; }

.opciones {
  background-color: #000046;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-around; }

.opciones li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 40px;
  display: block; }

.opciones li {
  display: inline-block;
  text-align: center; }

.opciones li a:hover {
  color: orange; }

#hero {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  color: white;
  text-align: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.95)), url(./fachada_css.jfif);
  background-repeat: no-repeat;
  background-size: cover; }

#niveles {
  text-align: center;
  padding: 10px 30px 10px 0px;
  display: flex; }

.container_niveles2 h2 {
  font-size: 5em; }

.container_niveles2 h3 {
  font-size: 3em; }

.container_niveles {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 0px 0px;
  flex-direction: column;
  text-align: center;
  font-size: 10px; }

.imagen_ninos {
  height: 800px; }

.container_niveles2 {
  margin: auto; }

.color-distinto {
  color: orangered; }

.container_niveles2 h2 {
  margin-top: 0; }

.nivelesh3 {
  font-size: 2.5em; }

.detallenivel {
  font-size: 1.2em; }

#valores {
  text-align: center;
  background-color: #000046;
  color: white; }

.nuestros_valores {
  font-size: 2em; }

.container_valores {
  padding: 20px 0px; }

.maestro_cartas {
  display: flex;
  justify-content: center; }

.carta {
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 15px;
  border-radius: 15px;
  background-repeat: no-repeat; }

.carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://sonriemama.com/wp-content/uploads/2019/11/ensenar-respeto-ninos.jpg"); }

.carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.chiquipedia.com/imagenes/los-10-mejores-juegos-de-confianza-para-ninos.jpg"); }

.carta:last-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://diocesanos.es/blogs/orientapvi/wp-content/uploads/sites/16/2015/03/148198776.jpg"); }

#frase {
  color: orangered;
  font-style: italic;
  background-color: whitesmoke;
  margin: 0px;
  flex-direction: column; }

.container_frase1 h4 {
  padding-left: 50px;
  font-size: medium; }

.container_frase2 h4 {
  padding-left: 1250px;
  font-size: small; }

.pie-pagina {
  background-color: #b4b4b4;
  width: 100%; }

.container-foot {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 0px 0px;
  flex-direction: column;
  text-align: center;
  font-size: 10px; }

.container-foot2 {
  background-color: #9e9e9e;
  padding: 5px 10px;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 9px; }

/*INSTITUCIONAL*/
.containercarrusel {
  margin: auto;
  background-color: white;
  max-width: 800px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box; }

.containercarrusel > ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

.containercarrusel > .slider {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 300px; }

.containercarrusel > .slider h1 {
  position: absolute;
  color: white;
  background-color: rgba(235, 81, 26, 0.747);
  padding: 10px;
  left: 70%;
  top: 20px; }

.containercarrusel > .slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  background: #fff; }

.containercarrusel > .slider li img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

.containercarrusel > .slider li:first-child {
  opacity: 1; }

.containercarrusel > .slider li:target {
  opacity: 1; }

.containercarrusel > .menu {
  text-align: center;
  margin: 20px; }

.containercarrusel > .menu li {
  display: inline-block;
  text-align: center; }

.containercarrusel > .menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #000046;
  width: 20px;
  height: 20px;
  font-size: 16px;
  border-radius: 100%; }

.infocarrusel h1 {
  margin-top: 0;
  text-align: center;
  color: orangered;
  font-size: 3rem; }

.infocarrusel2 {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 0px 20px;
  flex-direction: column;
  text-align: center; }

.infoslide1 {
  background-color: #9e9e9e;
  border: solid 2px orangered; }

.infoslide2 {
  background-color: #9e9e9e;
  border: solid 2px #000046; }

.galeria_title {
  text-align: center;
  font-size: 3rem;
  padding: 20px;
  background-color: #000046;
  color: orangered; }

.galeria_title2 {
  text-align: center;
  font-size: .8rem; }

.img-inst {
  width: 100%; }

.maestro_imagenes {
  display: flex;
  padding: 5px;
  flex-wrap: wrap; }

.columnaimg {
  flex: 20%;
  padding: 5px; }

.columnaimg img {
  margin-top: 5px; }

/*ACADEMICO*/
.card_talleres {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }

.taller {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s; }

.taller:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.taller img {
  width: 330px;
  height: 220px; }

.taller h3 {
  font-weight: 600; }

.talle p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300; }

.taller a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db; }

/*NOSOTROS*/
#quienessomos {
  text-align: center;
  padding: 10px 10px;
  display: flex;
  background-color: #f0e4e4; }

.h2_historia {
  color: orangered;
  font-size: 3em; }

.parrafo_historia {
  font-size: 1.2em; }

.container_quienessomos {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 0px 0px;
  flex-direction: column;
  text-align: center;
  font-size: 10px; }

.container_historia {
  margin: auto; }

.container_historia h2 {
  margin-top: 0; }

.container_historiadetalle {
  padding-top: 30px; }

.img-quienessomos {
  position: relative;
  cursor: pointer;
  overflow: hidden; }

.img-quienessomos::before {
  content: "Familia Fundadora";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5b40f3a6;
  transform: scale(0);
  transition: transform .4s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem; }

.img-quienessomos:hover::before {
  transform: scale(1) rotate(360deg); }

/*PRE INSCRIPCIÓN*/
#fondoform {
  background-color: rgba(255, 68, 0, 0.795); }

.caja {
  margin: auto;
  width: 380px;
  border: solid 2px #000046; }

.botonesform {
  text-align: center; }

/*AIRES ATHLETIC*/
.tituloaires {
  text-align: center;
  color: orangered; }

.tituloaires2 {
  padding: 0px 20px; }

#hojadeportes {
  display: flex;
  justify-content: center;
  margin: auto; }

.card_deporte {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px; }

.face_front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: black 0px 5px 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease 0s; }

.face_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(180deg);
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: black 0px 5px 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  background: #032336;
  padding: 15px; }

.face_front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.face_front h2 {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.4); }

.face_back h2 {
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 2px; }

.face_back p {
  letter-spacing: 1px; }

.linkcard {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #f3f3f3; }

.linkcard a {
  color: #3498db;
  text-decoration: none; }

.card_deporte:hover .face_front {
  transform: perspective(600px) rotateY(180deg); }

.card_deporte:hover .face_back {
  transform: perspective(600px) rotateY(360deg); }

/*RESPONSIVE CELU*/
@media (max-width: 320px) {
  /*INICIO*/
  .infoheader {
    display: none; }
  .container_niveles {
    display: flex;
    justify-content: center;
    align-items: center; }
  .container_ninos {
    display: none; }
  .maestro_cartas {
    display: inline-block; }
  .maestro_cartas p {
    display: none; }
  .container-foot {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  /*INSTITUCIONAL*/
  .containercarrusel h1 {
    display: none; }
  .infocarrusel2 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 0px 20px;
    flex-direction: column;
    text-align: center; }
  .columnaimg {
    flex: 100%; }
  /*NOSOTROS*/
  .container_quienessomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  /*PRE INSCRIPCIÓN*/
  .caja {
    width: 300px; }
  /*AIRES ATHLETIC*/
  #hojadeportes {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 768px) {
  /*INICIO*/
  .container_niveles {
    display: flex;
    justify-content: center;
    align-items: center; }
  .container_ninos {
    display: none; }
  .maestro_cartas {
    display: contents; }
  /*INSTITUCIONAL*/
  .columnaimg {
    flex: 50%; }
  /*NOSOTROS*/
  .container_quienessomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
